.people-container{
    width: 60vw;
}
.big-avatar {
    width: 160px;
    height: 160px;
}
.people-name {
    font-size: 26px;
    font-weight: 600;
    line-height: 30px;
}
.people-school {
    font-size: 14px;
    line-height: 20px
}
.info-container {
    height: 170px;
    background: white;
}
.ques-container {
    margin-top: 20px;
    background: white;
}
.i-like {
    margin-top: 8px;
    margin-left: 20px;
    padding: 14px 0;
    font-size: 16px;
    font-weight: bold;
    line-height: 22px;
    color: #121212;
}